a:hover {
color: inherit !important;
 cursor:pointer;
}
.header
{
    background: #f95252;
    left: 0;
    overflow: hidden;
    padding: 1.25em 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
@media only screen and (min-width: 48em)
{
    .header
    {
        padding: 1.5625em 0;
    }
}
.header .site-nav__home
{
    /*background: url(http://img5a.flixcart.com/www/promos/new/20150521-151534-flipkart-logo.png);*/
    background: url(../images/logo2.png);
    background-size: cover;
    display: block;
    float: left;
    height: 2.25em;
    moz-transition: opacity 300ms ease;
    o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    webkit-transition: opacity 300ms ease;
    width: 8.25em;
}
.header .site-nav__home:hover
{
    moz-transition: opacity 0ms ease;
    opacity: .7;
    o-transition: opacity 0ms ease;
    transition: opacity 0ms ease;
    webkit-transition: opacity 0ms ease;

}
@media only screen and (min-width: 48em)
{
    .header .site-nav__home
    {
        height: 2.375em;
        width: 8.625em;
    }
}
@media only screen and (min-width: 87.5em)
{
    .header .site-nav__home
    {
        height: 57px;
        width: 41px;
    }
}
.svg .header .site-nav__home
{
    background: none;
}
.header .site-nav__home .site-nav__logo
{
    display: none;
}
.svg .header .site-nav__home .site-nav__logo
{
    display: block;
    fill: #000;
}
@media only screen and (min-width: 48em)
{
    .svg .header .site-nav__home .site-nav__logo
    {
        height: 2.375em;
        width: 8.625em;
    }
}
@media only screen and (min-width: 87.5em)
{
    .svg .header .site-nav__home .site-nav__logo
    {
        height: 3.4375em;
        width: 12.5em;
    }
}
@media only screen and (min-width: 90em)
{
    .header
    {
        padding: 0.875em 0;
    }
}
header .giga,.article header .giga
{
    margin-bottom: 12px;
}
@media only screen and (min-width: 47.9375em)
{
    header .giga,.article header .giga
    {
        margin-bottom: 3px;
    }
}
.wrapper
{
    margin: 0 auto;
    max-width: 63.625em;
    padding: 0 1.25em;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 87.5em)
{
    .wrapper
    {
        max-width: 90em;
    }
}
.hero .wrap .wrapper
{
    display: table-cell;
    vertical-align: middle;
}
.site-nav
{
    display: none;
}
.site-nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav a
{
    color: #000;
    display: block;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
}
.wf-montserrat-n7-active .site-nav a
{
    font-family: "Montserrat",sans-serif;
}
@media only screen and (min-width: 47.9375em)
{
    .site-nav--primary
    {
        display: block;
        float: right;
        margin-top: 0.75em;
    }
    .site-nav--primary li
    {
        float: left;
        margin-left: 2.375em;
        overflow: hidden;
        position: relative;
    }
}
@media only screen and (min-width: 47.9375em) and (min-width: 64em)
{
    .site-nav--primary li
    {
        margin-left: 3.6875em;
    }
}
@media only screen and (min-width: 47.9375em) and (min-width: 87.5em)
{
    .site-nav--primary li
    {
        margin-left: 4.125em;
    }
}
@media only screen and (min-width: 47.9375em)
{
    .site-nav--primary li:first-child
    {
        margin-left: 0;
    }
    .site-nav--primary a
    {
        font-size: 16px;
        font-size: 1rem;
        text-transform: uppercase;
    }
}
@media only screen and (min-width: 47.9375em) and (min-width: 47.9375em)
{
    .site-nav--primary a
    {
        padding-bottom: 15px;
    }
    .site-nav--primary a:after
    {
        background: #000;
        bottom: 0;
        content: '';
        height: 0.125em;
        left: 0;
        moz-transform: translate3d(-101%, 0, 0);
        moz-transition: transform 0.3s;
        ms-transform: transform 0.3s;
        ms-transform: translate3d(-101%, 0, 0);
        position: absolute;
        transform: translate3d(-101%, 0, 0);
        transition: transform 0.3s;
        webkit-transform: translate3d(-101%, 0, 0);
        webkit-transition: transform 0.3s;
        width: 1.875em;
    }
    .site-nav--primary a:hover:after
    {
        moz-transform: translate3d(0%, 0, 0);
        ms-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        webkit-transform: translate3d(0%, 0, 0);
    }
}
@media only screen and (min-width: 47.9375em) and (min-width: 87.5em)
{
    .site-nav--primary a
    {
        font-size: 1.125rem;
        font-size: 18px;
    }
}
@media only screen and (min-width: 87.5em)
{
    .site-nav--primary
    {
        margin-top: 1.1875em;
    }
}
@media only screen and (max-width: 47.875em)
{
    .site-nav--footer
    {
        background: #fff;
        height: 100%;
        left: 0;
        padding: 36% 1.3125em;
        position: fixed;
        top: 0;
        visibility: visible;
        width: 100%;
        z-index: 20;
    }
    .site-nav--footer ul
    {
        position: absolute;
        right: 21px;
        top: 19.5%;
    }
    .site-nav--footer li
    {
        margin-bottom: 1.6875em;
        text-align: right;
    }
    .site-nav--footer a
    {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        font-size: 2.25rem;
        font-size: 36px;
        visibility: visible !important;
        webkit-animation-duration: 1s;
        webkit-animation-fill-mode: both;
        webkit-animation-name: fadeInDown;
    }
}
@media only screen and (min-width: 47.9375em)
{
    .site-nav--footer
    {
        display: block;
    }
    .site-nav--footer li
    {
        margin-bottom: 26px;
    }
    .site-nav--footer a
    {
        color: #fff;
        moz-transition: color 300ms ease;
        o-transition: color 300ms ease;
        text-transform: uppercase;
        transition: color 300ms ease;
        webkit-transition: color 300ms ease;
    }
    .site-nav--footer a:hover
    {
        moz-transition: color 0ms ease;
        o-transition: color 0ms ease;
        transition: color 0ms ease;
        webkit-transition: color 0ms ease;
    }
    .site-nav--footer a:hover
    {
        color: #a3a3a3;
        color: rgba(255,255,255,0.5);
    }
}
@media only screen and (min-width: 64em)
{
    .site-nav--footer li
    {
        margin-bottom: 23px;
    }
    .site-nav--footer a
    {
        font-size: 1.125rem;
        font-size: 18px;
    }
}