<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> All the cuteness in the world </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/app.css">
        <style type="text/css">
        </style>
    </head>

    <body class="container">
        <header role="banner" class="header">
            <div class="wrapper">
                <a href="/" class="site-nav__home">
                    <svg class="site-nav__logo" viewBox="0 0 132 36">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                    </svg>
                </a>
                <nav class="site-nav site-nav--primary">
                    <ul id="menu-primary-navigation" class="pri-nav-menu">
                        <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-24">
                            <a class="allPuppies">All Puppies</a>
                        </li>
                        <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                            <a class="topPuppies">Top Puppies</a>
                        </li>
                    </ul>           
                </nav>
            </div>
        </header>
        <div id="page-content" class="page-content">
            
        </div>

        <script type="text/javascript" src="./js/jquery.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
    </body>
</html>

