<div data-page={{.Page}}>
    {{range $index, $image := .Images}}
        <div class="card clearfix">
            <div class="imgContainer">
                <div class="imgWrapper" data-photo-id={{ $image.ID}} data-title={{ $image.Title}}>
                    <div class="session-image-wrapper" style="height: auto;">
                        <a href="#" data-photo-id={{$image.ID}}>
                            <img src="{{ $image.Large}}" class="puppy" alt="{{ $image.Title}}" width="750" height="auto" style="width:750px;height:auto;">

                            <span class="thin-facade"></span>
                        </a>
                        <a class="btn btn-info btn-lg puppyLike choice" data-puppy-id={{$image.ID}}>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                Like 
                             <span id="likes">{{$image.UpVotes}}</span>
                        </a>
                        <a class="btn btn-info btn-lg puppyDisLike choice" data-puppy-id={{$image.ID}}>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                                Dis Like 
                            <span id="dislikes">{{$image.DownVotes}}</span>
                        </a>
                    </div>     
                </div>
            </div>
        </div>
    {{ end }}
</div>